html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 2px dashed rgb(111, 6, 6);
    outline-offset: 3px;
}

.sitenav__link:focus {
    outline: none;
}

.sitenav__link:focus:after{
    background-color: rgb(175, 18, 89);
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-bg-color);
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
}

/* Header */
.header {
    background-color: rgb(168, 226, 133);
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    display: flex;
    margin-right: 10px;
    font-size: 24px;
    color: rgb(175, 18, 89);
    white-space: nowrap;
}

.header__logo-link:hover {
    opacity: 0.6;
}

.sitenav__items {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.sitenav__item {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-shrink: 0;
}

.sitenav__item:not(:last-child) {
    margin-right: 32px;
}


.sitenav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
    line-height: 16px;
    color: rgb(50, 42, 20);
    transition: border-color 0.4s ease;
  }
.sitenav__link::after{
    position: absolute;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: transparent;
}
.sitenav__link:hover:after{
    background-color: rgb(175, 18, 89);
}

.btn {
    position: relative;
    padding: 8px 36px 8px 33px;
    background-color: rgb(114, 181, 181);
    border-radius: 22px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    white-space: nowrap;
} 

.btn:hover {
    opacity: 0.8;
}
.btn:active {
    opacity: 0.6;
}

/* Main */
.content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content__heading {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.content__wrapper {
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Table */
table {
    margin-top: 120px;
    width: 450px;
    border-collapse: collapse;
}

.thead-row {
    font-size: 16px;
    background-color: rgb(168, 226, 133);
}

th, td {
    padding: 10px;
    border: 1px solid #000;
}

td {
    padding: 30px 10px;
    text-align: center;
}

.tbody-heading {
    font-weight: 700;
}

.content__media {
    width: 500px;
    margin-left: 160px;
}

.video-title, .audio-title, .youtobe__title {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(80, 197, 7);
    font-weight: 600;
}

video {
    margin-bottom: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content__youtobe {
    padding-top: 50px;
    padding-bottom: 50px;
}

.youtobe__title {
    margin-bottom: 50px;
}

.iframe-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}
